src/main/mule/p-api-setup-tp.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:s-api-emailnotification="http://www.mulesoft.org/schema/mule/s-api-emailnotification" xmlns:s-api-mortgage="http://www.mulesoft.org/schema/mule/s-api-mortgage" xmlns:s-api-validate-tp-crm="http://www.mulesoft.org/schema/mule/s-api-validate-tp-crm" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/s-api-validate-tp-crm http://www.mulesoft.org/schema/mule/s-api-validate-tp-crm/current/mule-s-api-validate-tp-crm.xsd
http://www.mulesoft.org/schema/mule/s-api-mortgage http://www.mulesoft.org/schema/mule/s-api-mortgage/current/mule-s-api-mortgage.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/s-api-emailnotification http://www.mulesoft.org/schema/mule/s-api-emailnotification/current/mule-s-api-emailnotification.xsd">
    <http:listener-config name="p-api-setup-tp-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="9077" />
    </http:listener-config>
    <apikit:config name="p-api-setup-tp-config" raml="p-api-setup-tp.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <s-api-validate-tp-crm:config name="S_api_validate_TP_CRM_Config" doc:name="S-api-validate-TP-CRM Config" doc:id="0d644cb1-d284-4fda-8777-31ef7054469d" property_host="so11mul01" property_port="9091" property_basePath="api" property_protocol="HTTP"/>
	<s-api-mortgage:config name="S_API___Mortgage_Config" doc:name="S-API - Mortgage Config" doc:id="4e22ff93-bb1d-42e2-995d-d42d2e0bb6a2" property_basePath="api" property_host="so11mul01" property_port="7573" property_protocol="HTTP"/>
	<s-api-emailnotification:config name="S_API___Email_notification_Config" doc:name="S-API - Email notification Config" doc:id="a2969a77-0822-496d-9497-55a28968d702" property_basePath="api" property_host="so11mul01" property_port="4652" property_protocol="HTTP"/>
	<flow name="p-api-setup-tp-main">
        <http:listener config-ref="p-api-setup-tp-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="p-api-setup-tp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="p-api-setup-tp-console">
        <http:listener config-ref="p-api-setup-tp-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="p-api-setup-tp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="patch:\tpchanges\(id):application\json:p-api-setup-tp-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="e2368966-9c4f-4e85-9f4d-c9dbc05b5289">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.id]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message" doc:id="dc3e4a97-5c3c-4b88-bfa3-2804934932b5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="original_payload" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<s-api-validate-tp-crm:get-persons doc:name="Get persons" doc:id="27d31223-2c89-4411-806c-d9d177bd1a34" config-ref="S_api_validate_TP_CRM_Config" commercial-label="ABN_CL_ABN" person-number="#[payload.tp_id]"/>
		<validation:is-not-null doc:name="Is not null" doc:id="5c1610b0-7eb4-4858-b6ca-6600132430e0" value="#[payload]"/>
		<s-api-mortgage:get-mortgage-by-id doc:name="Get mortgage by id" doc:id="d2d9f766-1e35-4812-b394-8e5e722167b3" config-ref="S_API___Mortgage_Config" id="#[vars.original_payload.loan_id]"/>
		<validation:is-not-null doc:name="Is not null" doc:id="458cbb3f-5655-49ca-bd70-fe854749352b" value="#[payload]"/>
		<s-api-emailnotification:create-email doc:name="Create email" doc:id="62698fe2-2e1c-446c-95e1-da3a07a94431" config-ref="S_API___Email_notification_Config">
			<s-api-emailnotification:create-email-request-data ><![CDATA[#[{
  "emailAddress": "finaluser@gmail.com",
  "emailMessage": "Change on the TP",
  "subject": "Change on the TP"
}]]]></s-api-emailnotification:create-email-request-data>
		</s-api-emailnotification:create-email>
		<logger level="INFO" message="patch:\tpchanges\(id):application\json:p-api-setup-tp-config" />
    </flow>
</mule>
